@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=TRT:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SF+Pro+Display:wght@600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

a,
p {
  @apply text-base no-underline;
}

.appear {
  animation: appear 0.5s ease-in-out;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
